<!DOCTYPE html>
<html lang="en-UK">
	<head>
		<meta http-equiv="refresh" content="2"/>
		<link rel="stylesheet" href="/css/about.css">
		<!--Roboto-->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
		<!--Bebas Neue-->
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<!--Poppins-->
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<title>About Psychedel</title>
	</head>
<!--	<img src="/img/colours.jpg" alt="Background Image">-->
	<div class="center-text">
		<h1>
			Psychedel
		</h1>
		<h2>
			About
		</h2>
		<p>
			This website is a management interface for my own custom decorative LED light fixtures.
			<br>The webapp backend handles:
		</p>
		<ul>
			<li>
				the Web UI for fine control of the fixtures,
			</li>
			<li>
				the websocket-based API for the fixtures to receive commands from,
			</li>
			<li>
				the HTTP-based API for virtual assistants and other controller devices to <br>send instructions to.
			</li>
		</ul>
	</div>
</html>